In [1]:
import requests
from bs4 import BeautifulSoup
from urllib.request import urlopen
from pandas import DataFrame
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt
import numpy as np

date = datetime.now()
date_time = date.strftime("%d/%m/%Y %H:%M:%S")

cases = []
data = []
header = {'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.149 Safari/537.36'}
url = requests.get('https://www.worldometers.info/coronavirus/', header)
bs = BeautifulSoup(url.content,'lxml')
title_numbers = bs.find_all(['h1','span'])
numbers = bs.find_all(class_='maincounter-number')
data_table = bs.find_all('table', class_='main_table_countries')

print('\t\t\t\t\t\tCOVID-19 CORONAVIRUS PANDEMIC')
print('\t\t\t\t\t\t-----------------------------')
print('\t\t\t\t\t\tAs of', date_time)
print()
print('\t\t\t\t\t\tCases : ', title_numbers[5].text)
print('\t\t\t\t\t\tDeaths : ', title_numbers[7].text)
print('\t\t\t\t\t\tRecovered : ', title_numbers[9].text)

for x in title_numbers:
    cases.append(x)

for table in data_table:
    headers = []
    rows = table.find_all('tr')
    for header in table.find('tr').find_all('th'):
        headers.append(header.text)
    for row in table.find_all('tr')[1:]:
        values = []
        for column in row.find_all(['th', 'td']):
            values.append(column.text)
        if values:
            dt = {headers[i]: values[i] for i in range(len(values))}
            data.append(dt)
            
df = pd.DataFrame(data)
df.set_index('Country,Other', inplace=True)
df.replace('^\n|\s|,(?!\s+\d$)','', regex = True, inplace = True)
df2 = df.rename(columns={"1stcase": "FirstCase", "Serious,Critical": "Critical"})

df2['ActiveCases'] = df2.ActiveCases.astype(float)
df2['TotalCases'] = df2.TotalCases.astype(float)

df2.head(10)

						COVID-19 CORONAVIRUS PANDEMIC
						-----------------------------
						As of 29/03/2020 02:38:05

						Cases :  664,590
						Deaths :  30,890
						Recovered :  142,368

,FirstCase,ActiveCases,Deaths/1M pop,NewCases,NewDeaths,Critical,TotalCases,TotalDeaths,TotalRecovered,Tot Cases/1M pop
"Country,Other",,,,,,,,,,
USA,Jan20,118316.0,7,+198,+8,2666,123776.0,2229,3231,374
Italy,Jan29,70065.0,166,,,3856,92472.0,10023,12384,1529
Spain,Jan30,54968.0,128,,,4165,73235.0,5982,12285,1566
Germany,Jan26,48781.0,5,,,1581,57695.0,433,8481,689
France,Jan23,29561.0,35,,,4273,37575.0,2314,5700,576
Iran,Feb18,21212.0,30,,,3206,35408.0,2517,11679,422
UK,Jan30,15935.0,15,,,163,17089.0,1019,135,252
Switzerland,Feb24,12217.0,31,,,301,14076.0,264,1595,1626
Netherlands,Feb26,9120.0,37,,,914,9762.0,639,3,570
S. Korea,Jan19,4398.0,3,+105,+8,59,9583.0,152,5033,187